.company {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.company button {
    border-radius: 6px;
    margin-right: 8px;
    border: 2px solid #7686f2;
    color: #7686f2;
    background-color: white;
    font-weight: bold;
}

.company p {
    color: #757575;
}

.title {
    font-weight: 600;
    font-size: 24px;
}

.mapicon {
    width: 20px;
    height: 20px
}

.company img {
    width: 50px;
    height: 50px;
}

.view-details button{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 4px;    
   color: white;
   padding: 2px;
}