nav ul h3 {
    color: #1A1919;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
}

.header-tag a {
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #757575;
    width: 34px;
height: 22px;

}
.apply-button{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    padding: 10px;
    border:none;
    color: aliceblue;
}